.royal-addons_page_wpr-templates-kit #wpwrap {
  background: #F6F6F6;
}

.royal-addons_page_wpr-templates-kit #wpcontent {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.wpr-templates-kit-page > header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}

.wpr-templates-kit-logo {
  display: flex;
}

.wpr-templates-kit-logo div {
  padding: 20px;
  border-right: 1px solid #e8e8e8;
}

.wpr-templates-kit-logo .back-btn {
	display: none;
	align-items: center;
	font-weight: bold;
	color: #6d7882;
	cursor: pointer;
}

.wpr-templates-kit-logo .back-btn:hover {
	color: #222;
}

.wpr-templates-kit-filters {
  padding: 20px;
}

.wpr-templates-kit-filters div {
  padding: 10px 20px;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  font-size: 16px;
}

.wpr-templates-kit-filters ul {
  display: none;
}

.wpr-templates-kit-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 30px;
}

.wpr-templates-kit-grid .grid-item {
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  background: #fff;
}

.wpr-templates-kit-grid .image-wrap {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}

.wpr-templates-kit-grid .image-wrap:hover .image-overlay {
  opacity: 1;
}

.wpr-templates-kit-grid .image-overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.wpr-templates-kit-grid .image-overlay .dashicons {
  font-size: 30px;
  color: #fff;
}

.wpr-templates-kit-grid .grid-item footer {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.wpr-templates-kit-grid .grid-item footer h3 {
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
}

.wpr-templates-kit-single {
	display: none;
}

.wpr-templates-kit-single .action-buttons-wrap {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}

.wpr-templates-kit-single .import-template span {
	text-transform: capitalize;
}

.wpr-templates-kit-single .selected-template {
	border: 1px solid #2271B1;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}